<web-app>

    <welcome-file-list>
        <welcome-file>/index</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <servlet-class>kz.iitu.javaee.servlet.ConfigDemoServlet</servlet-class>

        <init-param>
            <param-name>username</param-name>
            <param-value>erasyl</param-value>
        </init-param>

        <init-param>
            <param-name>password</param-name>
            <param-value>12345</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <url-pattern>/config/demo</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>kz.iitu.javaee.filter.RequestLoggingFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>kz.iitu.javaee.filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>
